<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.john.android.xuimodx">

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:label="xuimodX"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="xuimod on Android 10+ (only recyclerview item animation)[动画：剥落][效果：预期与超过]" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>
</manifest>